.category {
  &__wrapper {
    display: flex;

    @include small-screen {
      flex-direction: column;
    }
  }

  &__filters {
    margin: 0 var(--small-offset) 0 0;

    @include small-screen {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
    }
  }

  &__prop {
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--big-offset) 0;
  }

  &__subtitle {
    margin: 0 0 var(--smallest-offset) 0;
    font: var(--font-solomon-regular);
    font-size: 18px;
  }

  &__label {
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 0 var(--smallest-offset) 0;
    }
  }

  &__caption {
    vertical-align: top;
    padding-left: var(--smallest-offset);
    font: var(--font-solomon-regular);
    font-size: 14px;
    color: var(--color-gray);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    margin: 0 0 0 var(--big-offset);
    gap: var(--small-offset);

    @include medium-screen {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-screen {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      margin: 100px 0 0;
    }
  }

  &__btn {
    border: none;

    @include small-screen {
      grid-column: span 2;
    }
  }
}
