.discount {
  position: relative;

  &__img {
    z-index: -1;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 65%;
    text-align: center;
    color: var(--color-white);
    transform: translate(-50%, -50%);

    @include small-tablet {
      top: 50%;
    }
  }

  &__title {
    margin: 0;
    font: var(--font-alumna);
    font-size: 50px;

    @include tablet {
      margin: 0 0 var(--medium-offset) 0;
      font-size: 35px;
    }

    @include small-tablet {
      font-size: 30px;
    }
  }

  &__descr {
    margin: 0 0 var(--medium-offset) 0;
    margin-top: var(--smallest-offset);
    font: var(--font-solomon-regular);

    @include tablet {
      display: none;
    }
  }

  &__btn {
    margin-top: var(--smallest-offset);
  }

  @include mobile {
    display: none;
  }
}