.favorite {
  &__img {
    width: 75px;
    height: 100px;

    @include small-screen {
      width: 130px;
      height: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--small-offset);

    @include large-screen {
      grid-template-columns: repeat(3, 1fr);
    }

    @include medium-screen {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-screen {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;

    @include small-screen {
      align-items: center;
    }
  }

  &__content {
    margin: 0 0 0 var(--small-offset);
  }

  &__name {
    display: block;
    margin: 0;
  }

  &__lower {
    display: flex;
    align-items: center;
    margin: var(--small-offset) 0 0 0;
  }

  &__delete {
    vertical-align: text-bottom;
    margin: 0 0 0 var(--medium-offset);
  }
}
