.swiper {
  &-slide {
    position: relative;
  }

  &-pagination-bullet {
    position: relative;
    margin-right: 20px;
    border-radius: 100px;
    width: 7px;
    height: 7px;
    background-color: var(--color-white);
    opacity: 1;

    i {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      border-radius: 100px;
      width: 100%;
      height: 7px;
      background-color: var(--color-white);
      opacity: 0.2;
    }

    b {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      border-radius: 100px;
      width: 0%;
      height: 7px;
      background-color: var(--color-white);
    }
  }

  &-pagination-bullet-active {
    width: 30px;
    background-color: transparent;

    i {
      background-color: #000;
    }

    b {
      animation-name: countingBar;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }

  @keyframes countingBar {
    0% {
      width: 0;
    }

    100% {
      width: 30px;
    }
  }
}

.slider {
  .slide {
    &__img {
      width: 100%;
      height: 100%;
    }

    &__content {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      @include large-screen {
        top: 60%;
      }
    }

    &__title {
      margin: 0;
      font: var(--font-alumna);
      font-size: 70px;
      color: var(--color-white);

      @include xlarge-screen {
        font-size: 50px;
      }

      @include large-screen {
        font-size: 30px;
      }
    }

    &__descr {
      margin: 0;
      font: var(--font-solomon-regular);
      font-size: 20px;
      color: var(--color-white);

      @include large-screen {
        display: none;
      }
    }
  }
}
