.reg {
  &__title {
    margin: var(--big-offset) 0 var(--smallest-offset);
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: var(--big-offset) 0 0 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin: 0 0 var(--big-offset) 0;
    }
  }

  &__label {
    font: var(--font-solomon-regular);
    font-size: 14px;
    color: var(--color-dusty-gray);
  }

  &__input {
    width: 314px;

    @include small-screen {
      width: 100%;
    }
  }

  &__pass {
    margin: var(--smallest-offset) 0 0 0;
    font: var(--font-solomon-regular);
    font-size: 14px;
    text-align: right;
    color: var(--color-black);
  }

  &__btn {
    align-self: center;
    margin: 0 0 var(--medium-offset) 0;
    border: none;
    width: 243px;
    height: 45px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: var(--smallest-offset) 0 var(--big-offset) 0;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 var(--big-offset) 0 0;
    }
  }

  &__link {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--facebook {
      width: 12px;
      height: 26px;
      background-image: url("../img/facebook-icon.svg");
    }

    &--vk {
      width: 26px;
      height: 15px;
      background-image: url("../img/vk-icon.svg");
    }

    &--google {
      width: 22px;
      height: 22px;
      background-image: url("../img/google-icon.svg");
    }
  }

  &__new {
    margin: 0;
    font: var(--font-solomon-semibold);
    color: var(--color-black);

    a {
      color: var(--color-dusty-gray);
    }
  }
}
