<section class="discount">
  <div class="container">
    <img src="img/discount.png" alt="Скидка до - 30% на всю верхнюю одежду" class="discount__img">
    <div class="discount__content">
      <h2 class="discount__title">Скидка до - 30% на всю верхнюю одежду</h2>
      <p class="discount__descr">Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей на 1-ую покупку</p>
      <a href="discount.html" class="discount__btn btn btn--primary" aria-label="Ссылка на каталог товаров">К покупкам</a>
    </div>
  </div>
</section>
