<footer class="footer" id="footer">
  <div class="container footer__container">
    <ul class="footer__left">
      <li class="footer__item"><img src="../img/logo.svg" alt="Bordo Showroom Logo" class="footer__logo"></li>
      <li class="footer__item icon-inst"><a href="https://instagram.com/bordo.showroom" target="_blank">Instagram</a>
      </li>
      <li class="footer__item icon-whats"><a href="https://wa.me/+79697775200">WhatsApp</a></li>
      <li class="footer__item"><a href="tel:+79697775200">+7 (969) 777-52-00</a></li>
    </ul>
    <div class="footer__wrapper">
      <ul class="footer__faq">
        <li class="footer__subtitle">Клиентам</li>
        <li class="footer__item"><a href="about.html" class="footer__link">О магазине</a>
        </li>
        <li class="footer__item footer__item"><a href="#" class="footer__link">Политика</a></li>
        <li class="footer__item footer__item"><a href="#" class="footer__link">Вопросы</a></li>
        <li class="footer__item footer__item"><a href="delivery.html" class="footer__link">Оплата и
            доставка</a></li>
      </ul>
      <div class="footer-adress">
        <strong class="footer__subtitle footer__item">Наши адреса</strong>
        <ul class="footer-adress__content">
          <li class="footer__item footer-adress__link"><a target="_blank" href="https://goo.gl/maps/PJVwdNW1aTXDxXpQ7"
              class="footer__link">г.
              Москва<br>пр-т Андропова,
              22,<br>ТРЦ
              "Нора"</a></li>
          <li class="footer__item footer-adress__link"><a target="_blank" href="https://goo.gl/maps/cDuJCjjjQWtcJXtMA"
              class="footer__link">г.
              Егорьевск<br>ул. Советская,
              121,<br>ТЦ "Егорьевский Пассаж"
            </a></li>
          <li class="footer__item footer-adress__link"><a target="_blank" href="https://goo.gl/maps/SLKeMZtodQ84iSVEA"
              class="footer__link">г.
              Орехово-Зуево<br>ул.
              Ленина,
              84,<br>ТЦ "Морозовский"
            </a></li>
          <li class="footer__item footer-adress__link"><a target="_blank" href="https://goo.gl/maps/Qsg7ZG3TwZRWVagc8"
              class="footer__link">г.
              Куровское<br>ул.
              Вокзальная, 8,<br>ТЦ
              "Апельсин"
            </a></li>
        </ul>
      </div>
    </div>
    <div class="footer__right">
      <strong class="footer__subtitle footer__item">Подписаться на новости</strong>
      <form class="footer__form mailing-form no-error-label" action="mail.php" enctype="multipart/form-data"
        method="POST">
        <input type="hidden" name="project_name" value="Test">
        <input type="hidden" name="admin_email" value="form-data@inbox.ru">
        <input type="hidden" name="form_subject" value="Подписаться на новости">
        <input type="email" class="footer__mail" name="mail" placeholder="Введите e-mail" data-validate-field="mail" />
        <input type="submit" value="" class="footer__submit">
      </form>
      <p class="footer__descr">Подписываясь на рассылку, вы соглашаетесь<br>с условиями <a href="#">Политики
          конфиденциальности</a></p>
      <span class="footer__share"><a href="https://vk.com/share.php?url=http://youtube.com" target="_blank">Поделиться
          Вконтакте</a></span>
      <span class="footer__share"><a href="#">Поделиться в Instagram</a></span>
    </div>
  </div>
  @include('popup.html', {
  "title": "Подписка на рассылку завершена",
  "text": "Пожалуйста, проверьте почту или СМС сообщения на телефоне",
  "btn-text": "Хорошо!",
  "class": "mail-popup",
  "link": "#"
  })
</footer>
