<div class="preheader">
  <div class="container">
    <ul class="preheader__list list-reset">
      <li class="preheader__item"><a href="about.html" class="preheader__link link-hover">О магазине</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link link-hover">Политика</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link link-hover">Вопросы</a></li>
      <li class="preheader__item"><a href="delivery.html" class="preheader__link link-hover">Оплата и доставка</a></li>
      <li class="preheader__item icon-inst link-hover"><a href="https://instagram.com/bordo.showroom" target="_blank"
          class="preheader__link" target="_blank">Instagram</a></li>
      <li class="preheader__item icon-whats link-hover"><a href="https://wa.me/+79697775200" target="_blank"
          class="preheader__link">WhatsApp</a>
      </li>
      <li class="preheader__item"><a href="tel:+79697775200" class="preheader__link link-hover">+7 (969) 777-52-00</a>
      </li>
      <li class="preheader__item"><a href="#footer" class="preheader__link link-hover address-js">Адреса шоурумов</a>
      </li>
    </ul>
  </div>
</div>
<header class="header">
  <div class="container header__container">
    <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link link-hover">Новинки</a></li>
        <li class="nav__item"><a href="catalog.html" class="nav__link link-hover">Одежда и&nbsp;обувь</a></li>
        <li class="nav__item"><a href="#" class="nav__link link-hover">Магазины</a></li>
        <li class="nav__item"><a href="#" class="nav__link link-hover">Покупателям</a></li>
        <li class="nav__item mobile-item"><a href="reg.html" class="nav__link">Аккаунт</a></li>
        <li class="nav__item mobile-item"><a href="#" class="nav__link search-mob-js">Поиск</a></li>
        <li class="nav__item mobile-item"><a href="favorite.html" class="nav__link">Избранное</a></li>
        <li class="nav__item mobile-item"><a href="cart.html" class="nav__link">Корзина</a></li>
      </ul>
    </nav>
    <a href="index.html" class="header__logo" aria-label="Bordo Showroom Лого"><img src="@svg/logo.svg"
        alt="Bordo Showroom Logo"></a>
    <ul class="header__icons list-reset">
      <li class="header__icon" title="Войти в аккаунт">
        <a href="reg.html" class="header__link header__link--acc link-hover" aria-label="Кнопка войти в аккаунт"></a>
      </li>
      <li class="header__icon search-js header__icon--search link-hover" title="Поиск"
        aria-label="Кнопка поиска по сайту">
      </li>
      <li class="header__icon" title="Любимые товары">
        <a href="favorite.html" class="header__link header__link--favorite link-hover"
          aria-label="Кнопка перейти в любимые товары"></a>
      </li>
      <li class="header__icon" title="Корзина товаров">
        <a href="cart.html" class="header__link header__link--cart link-hover" aria-label="Кнопка корзина товаров"></a>
      </li>
    </ul>
    <div class="header__search search-block-js">
      <div class="header__search-header">
        <button class="header__search-back btn-reset" id="search-back-btn">Назад</button>
        <input type="text" class="header__input header-input-js">
      </div>
      <div class="header__wrapper">
        <span class="header__text">Актуально сейчас</span>
        <ul class="header__popular-list list-reset"> 
          <li class="header__popular-category"><a href="#" class="header__category search-title link-hover">Джемперы и свитшоты</a></li>
          <li class="header__popular-category"><a href="#" class="header__category search-title link-hover">Аксессуары</a></li>
          <li class="header__popular-category"><a href="#" class="header__category search-title link-hover">Юбки и платья</a></li>
          <li class="header__popular-category"><a href="#" class="header__category search-title link-hover">Брюки и шорты</a></li>
        </ul>
        <span class="header__text">Популярное</span>
        <ul class="header__list list-reset">
          <li class="header-item">
            <a href="#"><img src="img/card-big.png" alt="Футболка удлиненная" class="header-item__img">
              <span class="header-item__name search-title">Футболка удлиненная</span></a>
          </li>
          <li class="header-item">
            <a href="#"><img src="@img/card-big.png" alt="Футболка удлиненная" class="header-item__img">
              <span class="header-item__name search-title">Футболка удлиненная</span></a>
          </li>
          <li class="header-item">
            <a href="#"><img src="@img/card-big.png" alt="Футболка удлиненная" class="header-item__img">
              <span class="header-item__name search-title">Футболка удлиненная</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>