<section class="slider">
  <div class="swiper index-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="@img/index-swiper/1.png" alt="Платье под любое настроение Весна - лето 2021" class="slide__img">
        <div class="slide__content">
          <h1 class="slide__title">Платье под любое настроение Весна -&nbsp;Лето&nbsp;2021</h1>
          <p class="slide__descr">Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей на 1-ую покупку</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="@img/index-swiper/1.png" alt="Сезонная распродажа -30% на верхнюю одежду!" class="slide__img">
        <div class="slide__content">
          <h1 class="slide__title">Сезонная распродажа -30% на верхнюю одежду!</h1>
          <p class="slide__descr">Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей на 1-ую покупку</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="@img/index-swiper/1.png" alt="Далеко-далеко за словесными горами в стране гласных и согласных."
          class="slide__img">
        <div class="slide__content">
          <h1 class="slide__title">Далеко-далеко за словесными горами в стране гласных и согласных.</h1>
          <p class="slide__descr">Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей на 1-ую покупку</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>