<header class="header">
  <div class="container header__container">
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Новинки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Одежда и обувь</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Магазины</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Покупателям</a></li>
     </ul>
    </nav>
    <img src="../img/logo.svg" alt="Bordo showroom">
    <ul class="header__list">
      <li class="header__item header__item--acc"></li>
      <li class="header__item header__item--search"></li>
      <li class="header__item header__item--heart"></li>
      <li class="header__item header__item--cart"></li>
    </ul>
  </div>
</header>
