<div class="preheader">
  <div class="container">
    <ul class="preheader__list">
      <li class="preheader__item"><a href="#" class="preheader__link">О магазине</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link">Политика</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link">Вопросы</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link">Оплата и доставка</a></li>
      <li class="preheader__item icon-inst"><a href="#" class="preheader__link">Instagram</a></li>
      <li class="preheader__item icon-whats"><a href="#" class="preheader__link">WhatsApp</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link">+7 (969) 777-52-00</a></li>
      <li class="preheader__item"><a href="#" class="preheader__link">Адреса шоурумов</a></li>
    </ul>
  </div>
</div>