.type {
  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--big-offset) 0;
  }

  &__upper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__lower {
    width: 100%;
  }

  &__title {
    font: var(--font-solomon-regular);
    font-size: 20px;

    @include small-screen {
      margin: 0 var(--smallest-offset) 0 0;
    }
  }

  &__all {
    margin-left: auto;
    font: var(--font-solomon-regular);
    font-size: 14px;
    color: var(--color-gray);
  }

  &__list-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: var(--small-offset) 0 0 0;
    gap: var(--small-offset);

    @include medium-screen {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-screen {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--small-offset) 0;
    text-align: center;
  }

  &__picture {
    position: relative;
  }

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-dusty-gray);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray);
    }

    &:active {
      background-color: #cc4949;
    }

    &--watch {
      margin: 0 0 var(--small-offset) 0;
      background-image: url("../img/eye.svg");
      background-position: center;
      background-size: 50px;
      background-repeat: no-repeat;
    }
  }

  &__subtitle {
    margin-top: var(--small-offset);
    font: var(--font-solomon-regular);
    color: var(--color-black);
  }

  &__price {
    margin-top: var(--smallest-offset);
    font: var(--font-solomon-semibold);
  }

  &__colors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--smallest-offset) 0 0;
  }

  &__color {
    border: 1px solid var(--color-black);
    border-radius: 100%;
    width: 12px;
    height: 12px;

    &:not(:last-child) {
      margin: 0 var(--smallest-offset) 0 0;
    }
  }
}
