// Универсальные стили

.burger {
  --burger-width: 20px;
  --burger-height: 15px;
  --burger-line-height: 2px;

  @include burger;

  display: none;

  @include tablet {
    display: block;
  }
}

.subtitle {
  font: var(--font-alumna);
  font-size: 30px;
}

.icon-inst {
  &::before {
    background-image: url("@svg/inst.svg");
  }
}

.icon-whats {
  &::before {
    background-image: url("@svg/phone.svg");
  }
}

.icon-inst,
.icon-whats {
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    margin-bottom: -3px;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  a {
    padding-left: var(--smallest-offset);
  }
}

.custom-container {
  padding: 0 95px;

  @include tablet {
    padding: 0 var(--small-offset);
  }
}

.reg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-select {
  border: none;
  padding: var(--smallest-offset);
  font-size: 14px;
  background-color: var(--color-alabaster);
  cursor: pointer;
}

.custom-option {
  font: var(--font-solomon-regular);
  font-size: 14px;
  color: var(--color-gray);
}

.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.art-text {
  font: var(--font-solomon-regular);
  font-size: 12px;
  color: var(--color-dusty-gray);
}

.name {
  font: var(--font-solomon-regular);
  color: var(--color-black);
}

.price {
  font: var(--font-solomon-semibold);
  font-size: 20px;
}

.empty {
  font-size: 18px;
  color: var(--color-dusty-gray);
}

.btn {
  &--primary {
    border-radius: 5px;
    padding: 12px 45px;
    font: var(--font-solomon-semibold);
    color: var(--color-white);
    background-color: var(--color-black);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;

    &:hover {
      opacity: 0.4;
    }
  }

  &--delete {
    border: none;
    width: 20px;
    height: 20px;
    background: transparent;
    background-image: url("@svg/basket.svg");
    background-size: 100%;
    cursor: pointer;
  }
}

.js-validate-error-label {
  left: auto;
  right: 0;
  top: -3px;
  background: #b81111;
}

.no-error-label .js-validate-error-label {
  display: none;
}

.custom-input {
  border: none;
  border-radius: 5px;
  padding: var(--smallest-offset);
  height: 40px;
  background-color: var(--color-alabaster);
}

.custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    font: var(--font-solomon-regular);
    font-size: 14px;
    color: var(--color-gray);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #000;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
  outline: 2px solid var(--color-gray);
  outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.link-hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: var(--color-black);
    transition: width 0.2s ease-in-out;

    @include small-tablet {
      height: 0;
    }
  }

  &:hover::after {
    width: 100%;
  }
}