:root {
  // COLORS

  --color-black: #000;
  --color-white: #fff;
  --color-dusty-gray: #969696;
  --color-gray: #858585;
  --color-alabaster: #fbfbfb;

  // FONTS

  --font-alumna: 400 16px "ALS Alumna";
  --font-solomon-light: 300 16px "Solomon";
  --font-solomon-regular: 400 16px "Solomon";
  --font-solomon-semibold: 600 16px "Solomon";
  --font-norms-medium: 500 16px "Norms";
  --font-norms-regular: 400 16px "Norms";

  // OFFSET

  --big-offset: 50px;
  --medium-offset: 35px;
  --small-offset: 25px;
  --smallest-offset: 10px;
}
