// Стили для любой страницы

@import "./default/mixins";
@import "./default/vars";
@import "./default/fonts";
@import "./default/vendor";
@import "./default/settings";
@import "./default/universal";

// Компоненты страницы
@import "./components/preloader";
@import "./components/header";
@import "./components/footer";
@import "./components/popup";

.info {
  &__container {
    padding: 0 95px;
  }

  &__text {
    font: var(--font-solomon-regular);
    color: var(--color-gray);
  }
}