// Стили для любой страницы

@import "./default/mixins";
@import "./default/vars";
@import "./default/fonts";
@import "./default/vendor";
@import "./default/settings";
@import "./default/universal";

// Компоненты страницы

@import "./components/preloader";
@import "./components/header";
@import "./components/discount";
@import "./components/footer";
@import "./components/popup";

.payment {
  &__container {
    padding: 0 95px;
  }

  &__title {
    margin: 0;
    margin-bottom: var(--medium-offset);
  }

  &__subtitle {
    font: var(--font-solomon-semibold);
    font-size: 20px;
  }

  &__descr {
    margin: var(--medium-offset) 0;
    line-height: 24px;
  }

  &__list {
    list-style: inside;
  }

  &__item {
    font: var(--font-solomon-light);
    font-size: 14px;
  }

  &__descr,
  &__item {
    font: var(--font-solomon-light);
    font-size: 15px;
  }
}