// Стили для любой страницы

@import "./default/mixins";
@import "./default/vars";
@import "./default/fonts";
@import "./default/vendor";
@import "./default/settings";
@import "./default/universal";

// Компоненты страницы
@import "./components/preloader";
@import "./components/header";
@import "./components/type";
@import "./components/discount";
@import "./components/footer";
@import "./components/popup";

.item {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__upper {
    display: flex;

    @include big-desktop {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include tablet {
      justify-content: space-around;
    }

    @include small-tablet {
      justify-content: space-between;
    }
  }

  &__category {
    height: 100%;
    max-width: 130px;
    font: var(--font-solomon-regular);
    line-height: 24px;
    color: var(--color-black);

    span {
      margin: 0 0 0 5px;
    }

    @include big-desktop {
      display: block;
      margin: 0 0 var(--small-offset) 0;
      width: 100%;
      max-width: none;
    }
  }

  &__preview {
    margin: 0 0 0 var(--big-offset);

    @include big-desktop {
      margin-left: 0;
    }

    @include tablet {
      display: none;
    }
  }

  &__prev {
    height: 82px;
    cursor: pointer;

    img {
      width: 65px;
      height: 82px;
    }

    &:not(:last-child) {
      margin: 0 0 var(--small-offset) 0;
    }
  }

  &-swiper {
    overflow: hidden;
    margin: 0 0 0 var(--small-offset);
    max-width: 540px;

    @include big-desktop {
      margin: 0 0 0 var(--smallest-offset);
    }

    @include tablet {
      max-width: 420px;
    }

    @include small-tablet {
      margin: 0 auto var(--medium-offset);
    }
  }

  .swiper-slide {
    img {
      width: 540px;
      height: 707px;

      @include big-desktop {
        width: 100%;
        height: auto;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 var(--small-offset);

    @include big-desktop {
      margin: 0 0 0 var(--smallest-offset);
    }

    @include small-tablet {
      margin: 0;
      width: 100%;
    }
  }

  &__name {
    margin: 0 0 var(--smallest-offset) 0;
    font-size: 20px;
  }

  &__price {
    margin: 0 0 var(--small-offset) 0;
  }

  &__colors {
    display: flex;
    margin: 0 0 var(--smallest-offset) 0;
  }

  &__color {
    border: 1px solid var(--color-black);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 var(--smallest-offset) 0 0;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }

  &__descr {
    margin: 0 0 var(--medium-offset) 0;
    font: var(--font-norms-regular);
    font-size: 14px;

    span {
      font: var(--font-norms-regular);
      font-size: 14px;
      color: var(--color-dusty-gray);
    }
  }

  &__select {
    width: 255px;
    height: 40px;

    @include small-tablet {
      width: 100%;
    }
  }

  &__text {
    margin: 0 0 var(--medium-offset) 0;
    font: var(--font-solomon-regular);
    font-size: 12px;
    color: var(--color-dusty-gray);
  }

  &__btns {
    display: flex;
    align-items: center;
    margin: 0 0 var(--small-offset) 0;
  }

  &__btn {
    border: 2px solid var(--color-black);
    border-radius: 5px;
    height: 45px;
    background: transparent;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--buy {
      margin: 0 var(--small-offset) 0 0;
      width: 190px;
      font: var(--font-solomon-semibold);
      color: var(--color-white);
      background-color: var(--color-black);

      @include small-tablet {
        width: calc(100% - 70px);
      }
    }

    &--like {
      width: 45px;
      background-image: url("@svg/heart.svg");
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }

  &__share {
    font: var(--font-solomon-regular);
    font-size: 12px;
    color: var(--color-black);

    &:first-of-type {
      margin: 0 0 var(--smallest-offset) 0;
    }

    &:last-of-type {
      margin: 0 0 var(--big-offset) 0;
    }
  }

  &__details {
    font: var(--font-solomon-semibold);
    font-size: 18px;
  }

  &__property {
    font: var(--font-solomon-light);
    font-size: 14px;
  }

  .lists__container {
    @include mobile {
      padding: 0;
    }
  }
}