// Стили для любой страницы

@import "./default/mixins";
@import "./default/vars";
@import "./default/fonts";
@import "./default/vendor";
@import "./default/settings";
@import "./default/universal";

// Компоненты страницы
@import "./components/preloader";
@import "./components/header";
@import "./components/footer";
@import "./components/popup";

.profile {
  &__title {
    display: inline-block;
    margin: 0 var(--medium-offset) 0 0;
  }

  &__btn {
    display: inline-flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin: 0 var(--smallest-offset) 0 0;
      width: 14px;
      height: 14px;
      background-image: url("@svg/exit.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--medium-offset) 0 0 0;
    gap: var(--small-offset);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    position: relative;
    padding: var(--small-offset) 110px var(--small-offset) var(--small-offset);
    background-color: var(--color-alabaster);

    &__title {
      font: var(--font-solomon-regular);
      font-size: 22px;
    }

    &__text {
      margin: var(--smallest-offset) 0;
      font: var(--font-solomon-light);
      font-size: 14px;
      color: var(--color-dusty-gray);
    }

    &__subtitle {
      display: block;
      margin: var(--big-offset) 0 0 0;
      font: var(--font-solomon-semibold);
      font-size: 18px;
    }

    &__img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}